// Settings page styles

.btn-check:checked + .btn-outline-primary {
    background-color: var(--accent-1);
    border-color: var(--accent-1);
    color: #fff;
}

.btn-outline-primary {
    color: var(--accent-1);
    border-color: var(--accent-1);

    &:hover {
        background-color: var(--accent-1);
        border-color: var(--accent-1);
        color: #fff;
    }
}
